In [1]:
from IPython.core.display import display, HTML
import math
import pandas as pd
import numpy as np

# Set up an example

In [2]:
data_df = pd.read_csv('../../datasets/diabetes/diabetes.csv')
data_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
data_arr = data_df.values
data_arr

array([[  6.   , 148.   ,  72.   , ...,   0.627,  50.   ,   1.   ],
       [  1.   ,  85.   ,  66.   , ...,   0.351,  31.   ,   0.   ],
       [  8.   , 183.   ,  64.   , ...,   0.672,  32.   ,   1.   ],
       ...,
       [  5.   , 121.   ,  72.   , ...,   0.245,  30.   ,   0.   ],
       [  1.   , 126.   ,  60.   , ...,   0.349,  47.   ,   1.   ],
       [  1.   ,  93.   ,  70.   , ...,   0.315,  23.   ,   0.   ]])

# Visualize numpy arrays better

In [4]:
def pprint_numpy(arr, heatmap=False, max_height=6, max_width=6):
    #TODO: use np.get_printoptions()
    #TODO: what if just one long array, break up into columns and display side by side
    height, width = arr.shape

    if width <= max_width: 
        width_range = range(width)
    else :#width > max_width
        width_midway = math.floor(max_width/2)
        width_range = range(width)
        width_range = list(width_range[:width_midway]) + ['...'] + list(width_range[-width_midway:])

    if height <= max_height: 
        height_range = range(height)
    else :#width > max_width
        height_midway = math.floor(max_width/2)
        height_range = range(height)
        height_range = list(height_range[:height_midway]) + ['...'] + list(height_range[-height_midway:])

    rows = list()

    #col header
    cols = list()
    for col in width_range:
        if width > max_width and col == width_midway:
            cols.append(f'<th>...</th>')
            col = max_width - width_midway
        else: cols.append(f'<th>{col}</th>')
    rows.append('<th></th>'+''.join(cols))

    for row in width_range:
        cols = list()

        if height > max_height and row == height_midway:
            cols.append(f'<th>{row}</th>') # row header
            rows.append(f"<tr>{''.join(cols)}</tr>")
            row = max_height - height_midway
            
        else:
            cols.append(f'<th>{row}</th>') # row header
            for col in width_range:
                if width > max_width and col == width_midway:
                    cols.append(f'<td>...</td>')
                    col = max_width - width_midway
                else:
                    if row == '...' or col == '...': val = '...'
                    else: val = arr[row][col]
                    cols.append(f'<td>{val}</td>')
            
            rows.append(f"<tr>{''.join(cols)}</tr>")
    
    output = f"""
    <table>
        <caption style='caption-side: bottom'>numpy.ndarray {arr.shape}</caption>
        {''.join(rows)}
    </table>
    """
    return output

In [23]:
data_arr.shape

(768, 9)

In [5]:
display(HTML(pprint_numpy(data_arr)))

In [22]:
pd.DataFrame(data_arr)

        0      1     2     3      4     5      6     7    8
0     6.0  148.0  72.0  35.0    0.0  33.6  0.627  50.0  1.0
1     1.0   85.0  66.0  29.0    0.0  26.6  0.351  31.0  0.0
2     8.0  183.0  64.0   0.0    0.0  23.3  0.672  32.0  1.0
3     1.0   89.0  66.0  23.0   94.0  28.1  0.167  21.0  0.0
4     0.0  137.0  40.0  35.0  168.0  43.1  2.288  33.0  1.0
..    ...    ...   ...   ...    ...   ...    ...   ...  ...
763  10.0  101.0  76.0  48.0  180.0  32.9  0.171  63.0  0.0
764   2.0  122.0  70.0  27.0    0.0  36.8  0.340  27.0  0.0
765   5.0  121.0  72.0  23.0  112.0  26.2  0.245  30.0  0.0
766   1.0  126.0  60.0   0.0    0.0  30.1  0.349  47.0  1.0
767   1.0   93.0  70.0  31.0    0.0  30.4  0.315  23.0  0.0

[768 rows x 9 columns]

In [21]:
arr = np.array([[1,2,3],[4,5,6]])
print(arr.shape)
display(HTML(pprint_numpy(arr)))

(2, 3)

IndexError: index 2 is out of bounds for axis 0 with size 2

In [8]:
display(HTML(pprint_numpy(data_arr[:,1])))

ValueError: not enough values to unpack (expected 2, got 1)

In [24]:
pd.DataFrame(data_arr[:,1])

         0
0    148.0
1     85.0
2    183.0
3     89.0
4    137.0
..     ...
763  101.0
764  122.0
765  121.0
766  126.0
767   93.0

[768 rows x 1 columns]

In [40]:
arr = np.ones((3,3,3))
arr

array([[[1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.]]])

In [46]:
help(pd.DataFrame(arr[0]).__repr__)

Help on method __repr__ in module pandas.core.frame:

__repr__() -> str method of pandas.core.frame.DataFrame instance
    Return a string representation for a particular DataFrame.

In [ ]:
pd.DataFrame(arr[0]).__repr__

In [35]:
pd.DataFrame([1,2,3,4,5], columns=[''])

0  1
1  2
2  3
3  4
4  5

In [34]:
pd.DataFrame.from_dict({"homer":"36", "marge":"32", "bart":{1:2, 3:4}}, orient='index', columns=[''])

homer            36
marge            32
bart   {1: 2, 3: 4}

In [38]:
help(dict().repr)

AttributeError: 'dict' object has no attribute 'repr'

In [ ]:
dict().__repr__